/* hello.pear */
:root {
    --color-txt: #ffffff;
    --background-color: #ca0ca1;
}
* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
}

#particles-js {
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: -1;
    background-color: var(--background-color);
}

.about-me {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-me h2 {
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--color-txt);
    border: solid 2px var(--color-txt);
    border-radius: 30px;
    text-align: center;
    padding: 5px;
    background-color: var(--background-color);
}
.about-me h2:hover {
    background-color: var(--color-txt);
    color: var(--background-color);
    cursor: grab;
}